<!-- About Component Template -->
<div class="about-container">
    <h2>About Me</h2>

    <p> Hello! I’m Srikar, currently working as a Senior DevOps Engineer at Boeing, where I lead the DevOps initiatives for the Fleet Health Explorer (FHX) application—an innovative internal application dedicated to elevating airplane safety. My journey in tech began at Fortinet, where I supported critical backend operations for a suite of products, enriching my expertise in everything from Kubernetes clusters to server management.</p>

    <br />

    <p>I have a growth mindset with a positive, can-do attitude. I tackle problems with the philosophy of "learning something new with every challenge." While my key skills are in infrastructure, I've also made significant contributions to software development and architectural design at work. Outside of work, I enjoy working out, reading, swimming, hiking, playing badminton, mountain biking, and snowboarding.</p>

    <br />
        
    <p>Here, you'll find a portfolio that's as diverse as my interests—a testament to a career built on the principle that what we do makes a difference. I invite you to explore my projects, insights, and the impacts of my work. Let's connect, collaborate, and create pathways to innovation. Dive into my portfolio, reach out on <a href="https://www.linkedin.com/in/srikar-kc/">LinkedIn</a> if you're interested in learning more about my journey or discussing potential opportunities.</p>
        
    <br />
    
    <p><em>Because in the end, if we don't contribute positively to our environments, we might as well have never been there.</em></p>

    <img src="https://github.com/srikarkc/srikarkc.github.io/assets/34884850/74cde358-784e-46d2-be00-6957c126a1ec" alt="Image of Srikar smiling">
  </div>
  