<!-- About Component Template -->
<div class="about-container">
    <h2>About Me</h2>
    <!-- <p>I am [Your Name], a [Your Profession] based in [Your Location]. With a background in [Your Field], I specialize in [Your Specialization] and have worked on various projects related to [Relevant Topics or Technologies].</p>
    <p>My journey began in [Brief History or Fun Fact], leading me to pursue a career in [Industry], where I strive to [Your Goals or Aspirations].</p>
    <p>Outside of work, I enjoy [Your Hobbies or Interests].</p> -->

    <p> Hello! I’m Srikar, currently making strides as a Senior DevOps Engineer at Boeing, where I spearhead the DevOps initiatives for the Fleet Health Explorer (FHX) application—an innovative internal application dedicated to elevating airplane safety. My journey in tech began at Fortinet, where I supported critical backend operations for a suite of products, enriching my expertise in everything from Kubernetes clusters to server management.</p>

    <br />

    <p>Armed with a robust toolset that includes Java, Spring, Angular, and several leading DevOps technologies, I thrive in environments that challenge the status quo. Whether it's migrating complex systems to Google Kubernetes Engine or ensuring the seamless performance of enterprise applications, I approach each challenge with a blend of enthusiasm and strategic insight.</p>

    <br />
        
    <p>Here, you'll find a portfolio that's as diverse as my interests—a testament to a career built on the principle that what we do makes a difference. I invite you to explore my projects, insights, and the impacts of my work. Let's connect, collaborate, and create pathways to innovation. Dive into my portfolio, reach out on <a href="https://www.linkedin.com/in/srikar-kc/">LinkedIn</a> if you're interested in learning more about my journey or discussing potential opportunities.</p>
        
    <br />
    
    <p><em>Because in the end, if we don't contribute positively to our environments, we might as well have never been there.</em></p>

    <img src="https://storage.cloud.google.com/srikarkc/IMG_6490.jpeg" alt="Your Image" style="width:200px;height:200px;border-radius:50%;">
  </div>
  