/* About Component Styles */
.about-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    margin: 20px;
    text-align: center;
  }
  
  .about-container h2 {
    color: #333;
  }
  
  .about-container p {
    color: #555;
    margin: 10px 0;
  }
  
  img {
    margin-top: 20px;
    width: 200px;
    border-radius:50%
  }
  