<!-- Skills Component Template -->
<div class="skills-container">
    <h2>My Skills</h2>
    <h4>Core competencies:</h4>
    <ul>
      <li>Kubernetes</li>
      <li>GCP</li>
      <li>Terraform</li>
      <li>CI/CD using Jenkins & GitLab CI</li>
      <li>Linux administration - Ubuntu/RHEL</li>
      <li>Java</li>
      <li>Spring Framework</li>
    </ul>
    <h4>Others:</h4>
    <ul>
      <li>Git</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>HTML & CSS</li>
    </ul>
  </div>
  