.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif; /* Improved font */
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align items vertically */
  gap: 20px; /* Adds space between the buttons */
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 60px; /* Ensure all buttons have at least the same width */
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold; /* Makes text slightly bolder */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
}

.btn-linkedin {
  background-color: #007bff;
}

.btn-github {
  background-color: #6cc644;
}

.btn-blog {
  background-color: #fc4f08;
}

.btn:hover {
  transform: translateY(-2px); /* Move button up slightly on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Increase shadow for lifted effect */
}


.btn-linkedin:hover, .btn-github:hover {
  opacity: 0.9; /* Slight transparency on hover for visual feedback */
}


.current-activities, .timeline {
  padding: 2%;
}

.current-activities h2, .timeline h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eef2f5;
}

.container:nth-child(odd) {
  background-color: #d1d8e0; /* Darker background for odd entries */
}

.image-container {
  flex: 1 1 45%; /* Flex grow, flex shrink, flex basis */
  padding: 10px; /* Adds padding around the image container */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.image-container img {
  width: 100%; /* Makes image width responsive to the container size */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px;
}

.content {
  flex: 1 1 45%; /* Flex grow, flex shrink, flex basis */
  padding: 20px;
  margin: 10px 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stacks flex items vertically */
  }

  .image-container, .content {
    flex: 1 1 100%; /* Takes full width on smaller screens */
  }

  .image-container img {
    max-height: 300px; /* Limits image height on smaller devices */
  }
}

.site-footer {
  padding-top: 40px;
  font-size: 0.9rem;
  color: #666;
}

.site-footer a {
  color: #007bff;
}
