<!-- Home Component Template -->
<div class="home-container">
    <h1>Welcome to Srikar's site!</h1>
    <p>This is the home page of my professional portfolio website. Here you can find information about my skills, recent projects, and professional experiences.</p>
  
    <a href="https://www.linkedin.com/in/srikar-kc/" class="btn btn-primary">Learn More About Me</a>

    <p>This site is still being built!</p>
    <img id="construction-image" src="https://upload.wikimedia.org/wikipedia/en/1/1d/Page_Under_Construction.png">
</div>
  